* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none; /*remove blue focus when clicking components*/
}

div.world{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
}

section {
  width: 100%; 
  height: -moz-calc(100% - 96px); /* Firefox */
  height: -webkit-calc(100% - 96px); /* Chrome, Safari */
}

/* Create two columns/boxes that floats next to each other */
.container-canvas {
  float: left;
  width: 65%;
  background-color: #f1f1f1;
  height: 100%;
}

.chat {
  float: left;
  width: 35%;
  background: #ccc;
  padding: 20px;  
  height: 100%;
}

/* Style the list inside the menu */
.chat ul {
  list-style-type: none;
  padding: 0;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  /* padding: 10px; */
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 700px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* ////////////////chat form////////////////////////////// */
.chat-form {
  background-color: rgb(209, 218, 215);
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.chat-form input {
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  width: 85%;
}

.chat-form button {
  background: rgb(2,0,36);
  background: linear-gradient(300deg, rgba(2,0,36,1) 0%, rgba(0,164,255,1) 100%);
  color: white;
  
  border-radius: 15px;
  padding: 5px;
  border: 0;
  cursor: pointer;
  width: 13%;
}

.chat-form button:hover {
  background: rgb(255, 255, 255);
  color: black;
}